@os-light-blue-color: #AED7E5;
@os-med-blue-color: #468499;
@os-light-gray-color: #F2F2F2;

.os {
    &-bkgd {
      &-light-blue {
          background-color: @os-light-blue-color;
      }
      
      &-med-blue {
          background-color: @os-med-blue-color;
      }

      &-light-gray {
          background-color: @os-light-gray-color;
      }
    }

    &-float {
        &-right {
            float: right !important;
        }
    }

    &-clear {
        &-left {
            clear: left;
        }
    }

    &-pd {
        &-deep {
            padding: 25px;
        }
    }
}

